*{
    margin: 0;
    padding: 0;  
    
}

.jetbrains-mono-<uniquifier> {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
 }
  

body{
    
    background-color: #FFEFD3
}

header{
    background-color:#40372A;
    color: azure;
    text-align:center;
    font-size: 120px;
    font-family: "JetBrains Mono", monospace;
    margin-bottom: 15%;
}
#iniciar {
    background-color: #747474;
    display: block;
    justify-content: center;
    float: right;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-family: "JetBrains Mono", monospace ;
    width: 16%;
    height: 70px;
    margin-right: 42%;
    margin-left: 42%;
}

#iniciar:hover{
    border: 3px rgb(0, 0, 0) solid;
    color: azure;
    background-color:#40372A ;
    box-shadow: -1px 1px 18px 10px rgba(0,0,0,0.75);
}



#count{
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: #000000;
    font-size: 250px;
    font-family: "JetBrains Mono", monospace;
    text-shadow: 1px 3px 15px azure ;
    width: 20%;
    height: 350px;
    position: relative;
    margin: 0 auto;
    margin-top: 15%;
}